* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
.container {
  width: min(100% - 30px, 840px);
  margin-inline: auto;
}